:root{
  --main-color: #95e5be;
  --bg-color: #2b1942;
}
*{
  box-sizing: border-box;
}

html, body {
  background: var(--bg-color);
  color: var(--main-color);
  margin:0;
  padding: 0;
  padding-top: 10px;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

body {
  font-weight: 400;
}

button {
  font-family: 'Raleway', sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  display: block;
  margin: 0 auto;
  border: none;
  background: #a80020;
  background: var(--main-color);
  padding: 10px 20px;
  text-transform: uppercase;
}

button:disabled {
  cursor: not-allowed;
}

h1 {
  font-size: 2rem;
  text-align:center;
}

textarea {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  border: 3px solid black;
  width: 75%;
  margin: 0 auto;
  outline: none;
  height: 200px;
  background: var(--main-color);
  padding: 10px;
}

textarea:disabled {
  background-color: #a5a2a2;
}